<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Concert Hub</title>
  <meta name="description" content="The Concert Hub">
  <meta name="author" content="Saumy">
  <link rel="stylesheet" href="/assets/stylesheets/default.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel%20Decorative' rel='stylesheet'>
</head>

<body>
  <header class="headers">
    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>
  </header>

  <main>
    <div>
      <h1 id="artistTitle"><%= connectionID.connectionName %></h1>
      <% if(hide === 0) { %>
        <form class="rsvpButtons" action="/savedConnections" method="POST">
          <input type="hidden" id="concertID" name="concertID" value = "<%= connectionID.connectionID %>">
          <input class="button" type="submit" name="rsvp" value="No">
          <input class="button" type="submit" name="rsvp" value="Yes">
          <input class="button" type="submit" name="rsvp" value="Maybe">
        </form>
      <% } %>
    </div>
    <div class = "hostImage">
      <img id = "concert" src="<%= '/assets/images/'.concat(connectionID.image) %>" alt="Host Image">
    </div>
    <h2>Hosted by: <%= connectionID.hostName %></h2>
    <p><%= connectionID.details %></p>
    <h4>Date: <%= connectionID.date %><br>Time: <%= connectionID.time %><br>Address: <%= connectionID.location %></h4>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
