<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Concert Hub</title>
  <meta name="description" content="The Concert Hub">
  <meta name="author" content="Saumy">
  <link rel="stylesheet" href="/assets/stylesheets/default.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel%20Decorative' rel='stylesheet'>
</head>

<body>
  <header class="headers">
    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>
  </header>

  <main>
    <h1>GENRES</h1>
    <ul class="categories">
    <% for(var i=0; i<genres.length; i++){ %>  <!-- loop to iterate over the connection topics -->
      <li>
        <input type="checkbox" id="list-item-<%= i+1 %>">
        <label for="list-item-<%= i+1 %>" class="expandable" <% if(i == genres.length - 1){ %> id="last" <% } %> ><%= genres[i] %></label>
        <ul class="categories">
          <% for(var j=0; j< records.length; j++){ %>  <!-- loop to iterate over the events for each connection topic -->
            <% if(records[j].connectionTopic == genres[i]){ %>
              <li><a href=" <%= '/connection?connectionID='.concat(records[j].connectionID) %>"><%= records[j].connectionName %></a></li>
            <% } %>
          <% } %>
        </ul>
      </li>
    <% } %>
</ul>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
