<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Concert Hub</title>
  <meta name="description" content="The Concert Hub">
  <meta name="author" content="Saumy">
  <link rel="stylesheet" href="/assets/stylesheets/default.css">
  <link href='https://fonts.googleapis.com/css?family=Cinzel%20Decorative' rel='stylesheet'>
</head>

<body>
  <header class="headers">
    <% include partials/header.ejs %>
    <% include partials/navigation.ejs %>
  </header>
  <main>
    <% if(action === "view") { %>
    <a class="button" href=" <%= '/editCreatedConnection?connectionID='+concertInfo.connectionID %>">Edit</a>
    <form class="deleteConnection" action="/deleteCreatedConnections" method="post">
      <input type="hidden" id="concertID" name="concertID" value = "<%= concertInfo.connectionID %>">
      <input type="submit" class="button" name="delete" value="Delete">
    </form>
  <% } %>
    <% if(failure === "true") { %>
      <% for(var i = 0; i < errorMessage.length; i++) { %>
        <h5 class = "error">#  <%= errorMessage[i].msg %></h5>
        <% }
      } %>
    <div class="container">
      <form id = "createEvent" method="post" action="/newConnection/addConnection">
        <label for="topic">Topic</label>
        <input type="text" id="topic" name="topic" placeholder="topic" <% if(action != "create"){ %>
          value = "<%= concertInfo.connectionTopic %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
        <% } %> required>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="name" <% if(action!= "create"){ %>
          value = "<%= concertInfo.connectionName %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
          <% } %> required>
        <label for="details">Details</label>
        <input type="text" id="details" name="details" placeholder="description" <% if(action!= "create"){ %>
          value = "<%= concertInfo.details %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
          <% } %> required>
        <label for="where">Where</label>
        <input type="text" id="where" name="where" placeholder="location" <% if(action!= "create"){ %>
          value = "<%= concertInfo.location %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
          <% } %> required>
        <label for="organizer">Organizer</label>
        <input type="text" id="organizer" name="organizer" placeholder="Leave the field blank if you are the host" <% if(action!= "create"){ %>
          value = "<%= concertInfo.hostName %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
          <% } %> >
        <label for="eventDate">Date</label>
        <input type="date" id="eventDate" name="date" min="2019-10-01" max="2025-12-31" <% if(action!= "create"){ %>
          value = "<%= concertInfo.date %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
          <% } %> required>
        <label for="time">Time</label>
        <input type="time" id="time" name="time" <% if(action!= "create"){ %>
          value = "<%= concertInfo.time %>"
          <% if(action === "view"){ %>
            readonly
          <% } %>
          <% } %> required>
        <% if(action != "view"){ %>
          <input type="submit" class="simpleButton" <% if(action === "edit"){ %>
            name="update"
            <% } %>
            value="Submit">
        <% } %>
        <% if(action === "edit"){ %>
          <input type="hidden" id="concertID" name="concertID" value = "<%= concertInfo.connectionID %>">
          <a class="simpleButton" href="/myProfile">Cancel</a>
        <% } %>
      </form>
    </div>
  </main>

  <footer>
    <% include partials/footer.ejs %>
  </footer>
</body>
</html>
